<html>
	<head>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">	
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
                <title>Say friend and upload a file</title>
	</head>
	<body>
		<nav class="navbar">
			
		</nav>
		<div class="container">
		<%if(typeof(success)!=="undefined"){%>
		<div class="alert alert-success">
			<strong>Well done, my friend!</strong> You successfully uploaded your file on S3! Here is a link:<br/>
			<a class="btn btn-success" href="<%=success.url%>">Download it! C'mon don't be shy</a>
                        <br/>
                        <br/>
                        <h4>Additional info:</h4>
                        <dl class="dl-horizontal">
                            <dt>Hash(md5)</dt>
                            <dd><%=success.hash%></dd>
                            <dt>Filename</dt>
                            <dd><%=success.filename%></dd>
                            <dt>Bucket</dt>
                            <dd><%=success.bucket%></dd>
                            <dt>Etag</dt>
                            <dd><%=success.etag%></dd>
                            <%for(var key in success.metadata){%>
                               <dt><%=key%></dt>
                               <dd><%=success.metadata[key]%></dd> 
                            <%}%>
                        </dl>
		</div>
		<%}%>
		<section id="section1" class="panel panel-default">
			<div class="panel-heading">
			<div class="container">
	    		<h3 class="panel-title">POSTing a file to Amazon S3</h3>
	    		</div>
		  	</div>
	  		<div class="panel-body">
	  <form action="https://<%=bucket%>.s3.amazonaws.com/" method="POST" id="sign-up-form" class="form-horizontal" enctype="multipart/form-data">	
	
	<div class="container">
	<% fields.forEach(function(elem){ %>
	  <input type="hidden" name="<%= elem.name  %>" value="<%=elem.value %>"/>
		<%}); %> 
	   
	<div class="col-xs-5">
	<div class="form-group">
    	<label for="exampleInputFile">File input</label>
    	<input type="file" name="file">
    	<p class="help-block">File will be send to the bucket <%=bucket%> </p>
  </div>
	
  	
	</div>
	</div>
	
	<div class="container">
	<div class="col-xs-3">
	<input type="submit" class="btn  btn-primary btn-block" value="Confirm"/>
	</div>
	</div>
</form>
	  		</div>
			<footer class="panel-footer">
				
			</footer>
		</section>
	</div>		
	</body>
</html>
